@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url('/src/fonts/Inter/Inter.ttf') format("truetype");
}

@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
}

input, select {
  min-height: 32px;
}

input[type="radio"] {
  vertical-align: middle;
}

#modal-content {
  margin: 0 auto;
}